@font-face {
    font-family: Barlow;
    src: url(https://fonts.google.com/specimen/Barlow);
    font-weight: 900;
}
@font-face {
    font-family: Fraunces;
    src: url(https://fonts.google.com/specimen/Fraunces);
    font-weight: 900;
}
body, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    
}
a{
    text-decoration: none;
    color: unset;
}

header {
    display: flex;
    flex-direction: column;
    /* background-color:#03c8ff ; */
    color: white;
    background-image: url('./images/desktop/image-header.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.top {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 2.5em 1.5em;
    font-family:'Barlow';
    font-weight: 700;
    align-items: baseline;
}
ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
ul li {
    padding-left: 3em;
    cursor: pointer;
}
.active{

}
.active a {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     
    cursor: pointer;
    border-radius: 22px;
    text-transform: uppercase;
    position: relative;
    top: -30%;
 
}
h1{
    font-family: 'Barlow';
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 4.5em;
    letter-spacing: .2em;
    margin: 1em auto 1.7em;
}
.arrow{
    margin: 0 auto 0;
    
   
}
.about-row{
    display: flex;
    height: 40vW;
}
.about-row > *{
    width: 50%;
}
.row-text{
    font-family: 'Fraunces';
    box-sizing: border-box;
    padding: 6em 6em 2em 6em;
    text-align: justify;
    text-justify: distribute;
  
}
.row-text h2{
    font-size: 2.5em;
    font-weight: boldeR;
}
.row-text p{
    line-height: 1.4em;
}
.learn{
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    margin-top: 2em;
    cursor: pointer;
   
}
.learn:after {
    content: '';
    position: relative;
    width: 100%;
    height: .2em;
    display: block;
}
 
.yellow::after{
    background-color: yellow;
}   
.salmon::after{
    background-color: salmon;
}
#services{
    height: 50vw;
    display: flex;

}
.services-item{
    background-size: cover;
}
.cherry{
    background-image: url('./images/desktop/image-graphic-design.jpg');
    color: #25564b;
}
.orange{
    background-image: url('./images/desktop/image-photography.jpg');
    color:#19536b;
}
.services-item{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: justify;
    text-align-last: center;
    padding: 2em 6em;
    
}
.services-item > * {
    display: block;
}
.services-item h3{
    font-family:'Barlow';
    font-size: 2em;
    margin: 0;
    padding: 0;
    
}
.services-item p{
     line-height: 1.4em;
     margin-top: 2em;
   
}
#testimonials {
    display: block;
    height: 60vh;
    padding: 2em;
    text-align: center;
}
#testimonials img{
    border-radius: 50%;
    width: 5em;
    display: block;
    padding: 1em 0 2em;
    margin: 0 auto;
}
.charge {
    font-size: 1em;
    color: #808080;
}
.name{
    display: block;
    font-weight: bold;
    padding-bottom: .5em;
    font-size: 1.4em;
}
.testimonials-container{
    display: flex;
    
}
.testimonial{
    border: 1px solid red;
    text-align: center;
    padding: 2em;
}
.testimonial p{
    border: 1px solid yellowgreen;
}
.desc {
    margin-bottom: 2em;
}
.width{
    position: fixed;
    font-size: 3em;
    right: 0;
}

#testimonials h3{
    text-transform: uppercase;
    color:  #a6a6a6;
    letter-spacing: .2em;
}
 
@media (min-width:1400px){
    body{
        width: 1400px;
        margin: 0 auto;
        background-color: #f2f2f2
    }
    .body-container{
        background-color: white;
        box-shadow: 0px 10px 20px 7px rgba(0, 0, 0, .1);
    }
}

/* header img{
    position: absolute;
    z-index: -1;
    

} */